body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
}

nav .nav-top {
  min-height: 50px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
}

@media (max-width: 1300px) {
  nav .nav-top ul li + li {
    display: none;
  }

  nav .nav-top ul:first-child {
    text-align: center;
    margin: 0 30px;
  }
}

nav .nav-top ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 800;
}

nav .nav-bottom {
  margin: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-bottom input {
  background-color: #e9ecef;
  border: solid thin #e9ecef;
  line-height: 32px;
  height: 32px;
  padding-left: 10px;
  padding-right: 35px;
}

nav button {
  background-color: #fff;
  color: #000;
  height: 32px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #000;
  border-radius: 0;
  padding: 0 15px;
  box-shadow: 4px 4px #000, 4px 4px 0px 1px #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  align-self: end;
  justify-self: start;
  margin-bottom: 20px;
}

nav .nav-bottom a {
  margin-left: 10px;
  text-decoration: none;
  color: #000;
}

footer {
  border-top: 1px solid #616363;
  background-color: #363738;
  color: #c8cbcc;
  font-size: 12px;
  padding: 40px 80px;
  height: 50px;
  position: absolute;
}
