html,
body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
}

nav .nav-top {
  background-color: #000;
  color: #fff;
}

nav .nav-top ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 800;
}

nav .nav-bottom {
  margin: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-bottom input {
  background-color: #e9ecef;
  border: solid thin #e9ecef;
  line-height: 32px;
  height: 32px;
  padding-left: 10px;
  padding-right: 35px;
}

nav .nav-bottom a {
  text-decoration: none;
}

footer {
  border-top: 1px solid #616363;
  background-color: #363738;
  color: #c8cbcc;
  font-size: 12px;
  padding: 40px 80px;
  height: 50px;
  margin-top: 40px;
}
